@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Arimo', sans-serif;
  margin-inline: auto;
  width: min(100% - 2rem, 71.25rem);
}

nav a.active {
  color: rgb(17, 0, 255);
}

#root {
  display: flex;
  flex-direction: column; 
  min-height: 90vh;
}

header {
  display: flex;
  flex-direction: column;
}

header>nav>ul {
  background: deepskyblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

header>nav>ul a {
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
}

header>nav>ul a:hover {
  background: #1565C0;
}

footer {
  border-top: 1px solid #00BFFF;
  margin-top: auto;
  margin-bottom: 1rem;
  padding-top: 1.25rem;
  text-align: center;
}

footer a {
  color: #0066ff;
  text-decoration: none;
}

footer a:hover {
  color: #1565C0;
  font-weight: 800;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
  text-align: center;
}

img {
  border-radius: 0.25em;
  height: 10.25rem;
  width: 10.25rem;
  object-fit: cover;
}

section>article>img {
  object-fit: contain;
}

.boxContainer a {
  text-decoration: none;
}

.boxContainer article {
  border: thick double #00d0ff;
  border-radius: .75rem;
  color: deepskyblue;
  margin: .3125rem;
}

.boxContainer article h4 {
  min-height: 4.0625rem;
}

.picMiniatureData {
  visibility: hidden;
}

.picMiniature:hover+.picMiniatureData {
  visibility: visible;
}

.picContainer {
  align-items: center;
  border: thick double #00d0ff;
  border-radius: 0.75rem;
  color: deepskyblue;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.picContainer img {
  height: fit-content;
  width: min(100% - 2rem, 50rem);
}

.searchBox {
  display: flex;
  flex-wrap: wrap;
}

input {
  height: 2.0625rem;
  margin: 0 1.25rem 0 0;
}

button {
  background-color: deepskyblue;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1rem;
  line-height: 2.5;
  margin: 0 1.25rem 0 0;
  padding: 0 1.25rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

button:hover {
  background-color: #1565C0;
}

@media (max-width: 600px) {
  body>div>header>nav>ul {
    padding: 0;
    flex-flow: column wrap;
  }

  header>nav>ul a {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
  }

  header>nav>ul li:last-of-type a {
    border-bottom: none;
  }

  .boxContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .boxContainer {
    grid-template-columns: 1fr;
  }
}